# general
*~
*.log
tmp
dump

# Eclipse
.settings
.cache
.project
.classpath
.scala_dependencies
bin

# IntelliJ IDEA
/.idea
/.idea_modules
*.iml

# SBT/Gradle
build
dist
project/boot
project/target
project/plugins/target
target
.target
/.gradle
gradle
gradlew
gradlew.bat

# Play
logs
RUNNING_PID=
