@(myForm: Form[Student])
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render)}

@main("Welcome to Play", "SPQC - Add a student") {
    @content("Add student form") {
        @helper.form(action = routes.StudentController.add) {

            @helper.inputText(myForm("firstName"))
            @helper.inputText(myForm("lastName"))
            @helper.inputText(myForm("mail"))
            @helper.inputText(myForm("matNr"))

            <button class="btn btn-primary" type="submit">Submit student info</button>
        }
    }
}