@(students: List[Student])

@tablerow(rowNr: Integer, s: Student) = {
<tr>
    <th scope="row">@rowNr</th>
    <td>@s.fullName</td>
    <td>@s.mail</td>
    <td>@s.matNr</td>
</tr>
}

@main("View students", "SPQC - View list of students") {
    @defining("List of students") { title =>
        @if(students.isEmpty) {
            @content(title) {
                No students added yet!
            }
        } else {
            @content(title) {
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead class="thead-dark">
                            <th scope="col">#</th>
                            <th scope="col">Student name</th>
                            <th scope="col">E-Mail</th>
                            <th scope="col">Student number</th>
                        </thead>
                        <tbody>
                            @for(index <- 0 until students.size) {
                                @tablerow(index, students(index))
                            }
                        </tbody>
                    </table>
                </div>
            }
        }
    }
}